# Ignore classes
*.class

# Package Files #
*.jar

### Gradle ###
.gradle
**/build/
/KhanzaCetakAntrianLoket - Copy/nbproject/private/
/KhanzaCetakAntrianLoket - backup/nbproject/private/
/KhanzaAntrianLoket2/dist/
/KhanzaAntrianLoket2_backup/dist/
/KhanzaAntrianLoket2_backup/nbproject/private/
/KhanzaCetakAntrianApotek/nbproject/private/
/KhanzaCetakAntrianApotek/dist/
